<div class="row">
  <div class="col-12" style="background-color: green;">
    h
  </div>
  <div class="col-4" style="background-color: yellow;">
    1
  </div>
  <div class="col-4" style="background-color: yellowgreen;">
  2
  </div>
  <div class="col-4" style="background-color: black;">
  3
  </div>

  <div class="col-6 col-md-6 col-lg-4" style="background-color: yellow;">
    1
  </div>
  <div class="col-6 col-md-6 col-lg-4" style="background-color: yellowgreen;">
  2
  </div>
  <div class="col-6 col-md-6 col-lg-4" style="background-color: black;">
  3
  </div>

  </div>
  <div class="row" style="background-color: red;">
  <div class="col-1" style="background-color: yellow;">
    1
  </div>
  <div class="col-1" style="background-color: yellowgreen;">
  2
  </div>
  <div class="col-1" style="background-color: black;">
  3
  </div>
  <div class="col-1" style="background-color: yellow;">
    4
  </div>
  <div class="col-1" style="background-color: yellowgreen;">
  5
  </div>
  <div class="col-1" style="background-color: black;">
  6
  </div>
  <div class="col-1" style="background-color: yellow;">
  7
  </div>
  <div class="col-1" style="background-color: yellowgreen;">
  8
  </div>
  <div class="col-1" style="background-color: black;">
  9
  </div>
  <div class="col-1" style="background-color: yellow;">
   10
  </div>
  <div class="col-1" style="background-color: yellowgreen;">
  11
  </div>
  <div class="col-1" style="background-color: black;">
  12
  </div>

</div>
